
@import './TeachersPage.css';


@media (max-width: 600px) {
  .form-row {
    grid-template-columns: 1fr;
  }

  .mgmt-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  #filter {
    gap: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .filter-select{
    max-width: 120px;
    
  }
  
}

@media (max-width: 640px) {
  .permission-grid {
    grid-template-columns: 1fr;
  }
}
